/*

Monochrome palette light to greener

#EDF9F2 for the container

#dff5e7
#bfead0
#9fdfb9
#80d4a1
#61c88a
#43bc73

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "andada", serif;

}

h1 {
  font-size: 9.9vw;
}
h4 {
  font-size: 4.5vmin;
}

p, a {
  font-size: 3.5vmin;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: #EDF9F2;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /*text-align: center;*/
}

.header h4 {
  font-family: "andadascbold", serif;
}

.menu {
  display: flex;
  background-color: #43bc73;

  /*width: 90vw;*/
}

 a {
   display:flex;
  text-decoration: none;

  align-items: center;
}



.menu-link {
  border-bottom: 0.3vmin solid #61c88a;
  padding: 0 2.2vw 1.2vmin 2.2vw;
  width: 100vw;
  align-items: center;
  /*line-height: 1.2vw;*/
  font-family: sans-serif;
  color: black;
  list-style: none;

}



.page {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
}

.section {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #111;
  flex-wrap: wrap;
  /*height: 100vw;*/
}

.content {
  /*https://www.youtube.com/watch?v=0pmSueY_Qyk&list=PLOatFu3AxdOpjG5cEAd0oyviR-ISVbngO&index=1*/
  /*border: 1px solid tomato;*/
  text-align: center;
  width: 90vw;
  /*text-align: center;
  justify-content: center;*/
  /*padding:  0;*/
  /*margin-right: 6vw;
  margin-left: 6vw;*/
}

.header-content {
  /*margin-top: 4vh;*/
  /*height: 10vh;*/
  margin-top: 2vh;
  padding-bottom: 2vh;
}

.image-content img {
  /*max-height: 260px;*/
  width: 55vw;
  /*max-height: 60vh;*/
}

.idea-content {
  margin-bottom: 2vh;
  padding-top: 2vh;
  /*height: 20vh;*/
}

.first-section {
  background-color: #bfead0;
}

.second-section {
  background-color: #9fdfb9;
}

.third-section {
  background-color: #80d4a1;
}

.third-section > .imagecontent img {
  width: 40vw;
}

.fourth-section {
  background-color: #61c88a;
}

.fifth-section {
  background-color: #43bc73;
}

.footer {
  justify-content: center;
  background-color: #111;
  color: #dff5e7;
  height: 15vh;
}


/*
BÄst video
https://www.youtube.com/watch?v=Mkza0N8NiK4
Practice in codepen
https://codepen.io/Ampix0/pen/qmxqNL

*/


/* ######  Tablet styles ####### */



@media only screen and (min-width: 401px) and (max-width: 960px) {



  .header ul {
    display: block;
  }



  .section {
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
  }


  .image-content {
    width: 45vw;
    margin-right: 10px;
    border: 1px solid crimson;
  }

  .image-content img {
    width: 45vw;
  }

  .header-content {
    width:40vw;
    border: 1px solid orange;
  }

  .idea-content {
    border: 1px solid purple;
  }


}


/* ####### Desktop styles ######## */

@media only screen and (min-width: 961px) {
  * {
    /*background-color: deeppink;
    color: hotpink;*/
  }



  .page,
  .header
 {
    width: 960px;
    margin: 0 auto;
  }


  .menu,
  .menu-link {
    width: 400px;
    background-color: inherit;
  }

  .menu ul li {
    display: inline;
    list-style: none;


  }

  li a {
    /*display:inline;*/
  }

  .hamburger-icon {
    display: none;
  }

  .section {
    flex-direction: column;
      width:960px;
  }


  .content,
  .image-content img {
    width: 45%;
  }

}
