/*

Monochrome palette light to greener

#EDF9F2 for the container

#dff5e7
#bfead0
#9fdfb9
#80d4a1
#61c88a
#43bc73

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "andada", serif;
}

h5 {
  font-size: 5vmin;
}

h4 {
  font-size: 4.5vmin;
}

p, a {
  font-size: 3.7vmin;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #EDF9F2;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /*text-align: center;*/
}


/*.header h5{
  font-family: "andadascbold", serif;
}*/

.menu {
  background-color: #43bc73;
}

.none-display {
  display: none;
}

a {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.menu-link {
  border-bottom: 0.3vmin solid #61c88a;
  padding: 0 2.2vw 1.2vmin 2.2vw;
  width: 100vw;
  align-items: center;
  /*line-height: 1.2vw;*/
  font-family: "arial", sans-serif;
  color: #2E2E2E;
  list-style: none;
}

.menu-link:hover, .menu-link:active {
  color: #000;
}

.page {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
}

.section {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #111;
  flex-wrap: wrap;
}

.content {
  text-align: center;
  width: 90vw;
}

.header-content {
  /*margin-top: 4vh;*/
  /*height: 10vh;*/
  margin-top: 2vh;
  padding-bottom: 2vh;
}

.image-content {
  /*display: flex;*/
  /*border: 2px solid deeppink;*/
  width: 55vw;
  /*padding: 0 20px;*/
}

.image-content img {
  /*max-height: 260px;*/
  width: 55vw;
  /*max-height: 60vh;*/
}

.idea-content {
  margin-bottom: 2vh;
  padding-top: 2vh;
  /*height: 20vh;*/
}

.first-section {
  background-color: #bfead0;
}

.second-section {
  background-color: #9fdfb9;
}

.third-section {
  background-color: #80d4a1;
}

.third-section>.imagecontent img {
  width: 40vw;
}

.fourth-section {
  background-color: #61c88a;
}

.fifth-section {
  background-color: #43bc73;
}

.footer {
  justify-content: space-around;
  text-align: center;
  background-color: #111;
  color: #dff5e7;
  height: 25vh;
  padding: 5px 5px;
}

.footer p {
  font-size: 3vmin;
}


/* ######  Tablet styles ####### */

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header ul {
    display: block;
  }
  .section {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .image-content {
    width: 45vw;
    margin-right: 10px;
    /*border: 1px solid crimson;*/
  }
  .image-content img {
    width: 45vw;
  }
  .header-content {
    width: 40vw;
    /*border: 1px solid orange;*/
  }
  .idea-content {
    /*border: 1px solid purple;*/
  }
}


/* ####### Desktop styles ######## */

@media only screen and (min-width: 961px) {
  * {

  }
  .page, .header {
    width: 960px;
    margin: 0 auto;
  }
  .header {
    flex-direction: column;
    /*width: 90%;*/
    /*margin-left: 15%;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 12vh;
    z-index: 1;
  }
  .page {
    position: relative;
    top: 12vh;
  }
  .menu, .menu-link {
    /*width: 960px;*/
    background-color: inherit;
  }
  .menu-link {
    display: inline;
    width: inherit;
    border-bottom: none;
    font-size: 2.2vmin;
  }
  .menu ul li {
    display: inline;
    list-style: none;
    color: red;
  }
  li a {
    display: inline;
    /* THIS IS THE ONE THAT MAKE THE NAV HORIZONTAL */
    border-bottom: none;
  }
  .hamburger-icon {
    display: none;
  }
  .section {
    flex-direction: column;
    width: 960px;
    height: 88vh;
  }

  .content, .image-content img {
    width: 45%;
  }
  .footer {
    height: 28vh;
  }
}
